.subunit.OKLAHOMA { fill: #ddc; }
.subunit.COLORADO { fill: #cdd; }
.subunit.UTAH { fill: #cdc; }
.subunit.KANSAS { fill: #dcd; }
.subunit.NEW.MEXICO { fill: #dcd; }
.subunit.ARIZONA { fill: #ddc; }
.subunit.WYOMING { fill: #dcd; }
.subunit.NEBRASKA { fill: #ddc; }


.subunit-boundary {
  fill: none;
  stroke: #777;
  stroke-dasharray: 2,2;
  stroke-linejoin: round;
}

.subunit-boundary.NEBRASKA {
  stroke: #aaa;
}

.subunit-label {
  fill: #777;
  fill-opacity: .5;
  font-size: 20px;
  font-weight: 300;
  text-anchor: middle;
}

text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 8px;
}
